@import "colores/colores"

/* Porcentajes del login*/
ancho = 300px
alto = 300px

cajaLoginRegistro()
    width: ancho
    height: alto
    position: relative
div#padreLogin
    height: 100vh
    // margin-top: 100px;
    div#registro
        cajaLoginRegistro()
        background-color: blue
        outline: 1px solid negro 
        margin-top: -(alto) 
        transition: .5s all   
        z-index: 1
    div#login
        cajaLoginRegistro()
        background-color: orange
        // position: relative
        outline 1px solid red
        z-index: 2
