@import "colores/colores"

/* Porcentajes del login*/
ancho = 300px
alto = 230px

body
    background-image: url("../imagenes/IMAGEN_LOGIN-compressor.png")
    background-size: 100%
    background-repeat: no-repeat
    background-color: #358242

cajaLoginRegistro()
    width: ancho
    min-height: alto
    position: relative

div#padreLogin
    height: 100vh
    // margin-top: 100px;
    div#login div.loginBorder
        border-bottom: 1px solid grey
        padding-bottom: 15px

    div#login, div#registro
        cajaLoginRegistro()
        padding: 10px
        text-align: center
        background-color: white
        width: 300px
        margin-top: -(alto)
        transition: .5s all
        border-radius: 5px

    div#registro
        overflow: hidden
        border-radius: 0 0 5px 5px
        height: 175px
        z-index: 1

    div#login
        height: 265px
        border-radius: 5px 5px 0 0
        z-index: 2

input
    margin: 10px
    padding: 5px
    border-radius: 5px
    width: 225px

.alertaExito, .alertaFallo
    width: 225px
    border-radius: 5px
    margin: 5px
    padding: 5px

.alertaExito
    background-color: rgba(12, 232, 102, 0.5);

.alertaFallo
    background-color: rgba(255, 0, 0, 0.5);
