body
    background-color: #183452

div#chat
    height: 100%

textarea
    margin-left: 8px
    padding: 5px
    border-radius: 5px
    resize: none

md-content
    background-color: #D9DBD8 !important

md-progress-circular
    margin-top: 25%

md-card
    overflow: inherit

.controles
    border-radius: 5px
    width: 530px
    height: 150px
    background-color: rgba(0, 0, 0, 0.5);
    color: white
    margin: 0 auto
    margin-top: 5px

.juego
    width: 840px
    height: 530px
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto
    margin-top: 15px
