body
    background-color: grey

input
  padding: 5px
  border-radius: 5px
  width: 150px

div#chat
    height: 100%
//No tengo idea de porque no funciona :S
.md-theme
    background-color: grey

footer div
    margin: 5px
    border-top: 1px solid grey

textarea
    resize: none
