/* Porcentajes del login*/
body {
  background-image: url("../imagenes/IMAGEN_LOGIN-compressor.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #358242;
}
div#padreLogin {
  height: 100vh;
}
div#padreLogin div#login div.loginBorder {
  border-bottom: 1px solid #808080;
  padding-bottom: 15px;
}
div#padreLogin div#login,
div#padreLogin div#registro {
  width: 300px;
  min-height: 230px;
  position: relative;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  width: 300px;
  margin-top: -230px;
  transition: 0.5s all;
  border-radius: 5px;
}
div#padreLogin div#registro {
  overflow: hidden;
  border-radius: 0 0 5px 5px;
  height: 175px;
  z-index: 1;
}
div#padreLogin div#login {
  height: 265px;
  border-radius: 5px 5px 0 0;
  z-index: 2;
}
input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 225px;
}
.alertaExito,
.alertaFallo {
  width: 225px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
.alertaExito {
  background-color: rgba(12,232,102,0.5);
}
.alertaFallo {
  background-color: rgba(255,0,0,0.5);
}
